.custom-pagination {
    width: 100%;
    display: flex;
    justify-content: center !important;
    text-decoration: none !important;
  }
  
  .custom-pagination .ant-pagination-item{
    font-size: 20px;
    border-radius: 0 !important;
    border: 0;
    color: black !important;
    font-weight: 600 !important;
  }
   .custom-pagination button:hover{
    border-radius: 0 !important;
    border: 0;
  }
  
  .custom-pagination .ant-pagination-item:hover {
    background-color: rgba(0, 0, 0, 0.014);
    border-radius: 0 !important;
    /* border-bottom: 0; */
  }
  
  .custom-pagination .ant-pagination-item-active a{
      color: #800000 !important;
  }
  .custom-pagination .ant-pagination-item-active {
    border-bottom: solid #800000 2px !important;
  }

  .calistoga-regular {
    font-family: "Calistoga";
    font-weight: 400;
    font-style: normal;
  }

  .category-div{
    border: 3px solid #800000;
    border-radius: 20px;
    background-color: white;
  }
  .category-div:hover{
    cursor: pointer;
  }
  .category-icon{
    width: 200px;
    height: 200px;
  }
  .category-balung{
    margin-top: auto;
    margin-bottom: auto;
  }

  /* Menghilangkan border bawah default dari tab */
.custom-tabs .ant-tabs-nav {
  border-bottom: none !important;
  box-shadow: none !important;
}

/* Menyembunyikan garis bawaan abu-abu */
.custom-tabs .ant-tabs-nav::before {
  border-bottom: none !important;
}

/* Menyesuaikan garis bawah tab aktif agar tetap terlihat */
.custom-tabs .ant-tabs-ink-bar {
  background-color: #b91c1c !important; /* Warna merah */
  height: 2px !important;
}

.custom-tabs .ant-tabs-tab {
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 20px;
}

.custom-tabs .ant-tabs-tab-active .tab-label {
  color: #b91c1c;
  font-weight: bold;
}

/* Mengatur jarak antar tab */
.custom-tabs .ant-tabs-tab {
  margin-right: 8vw !important; 
  margin-left: 8vw !important; 
}

/* Opsional: Menyesuaikan jarak untuk tampilan mobile */
@media (max-width: 768px) {
  .custom-tabs .ant-tabs-tab {
    margin-right: 10px !important;
  }
}
